body {
  margin: 0px;
}
#block8>img{
  width:fit-content;
}
.sticky-header {
  position:static;
  background-color: #1b283d;
  padding-bottom: 5px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  
  
}
#login {
    display: flex;
    justify-content: end;
    margin-right: 45px;
    /* border: 1px solid; */
    align-items: center;
}
#login button {
  width:max-content;
  color: white;
    font-weight: bold;
  background: none;
  border: 2px solid;
    /* background-color: #505050; */
  border-color: #fff;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
    /* color: #ccc; */
    /* border: 1px solid; */   
}
#login a :hover {
    cursor: pointer;
}
/* ---------Header---------- */
#headerpart {
  margin: -10px;
  padding: 10px;
    /* background-color: #505050; */
}
/*---------------Navbar-------------- */
#nav {
    display: flex;
    justify-content:space-between;
    /* background-color: #212122; */
    /* border: 1px solid; */
    /* border-radius: 9px; */
    align-items: center;
    padding: 9px 18px 9px 18px;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
#nav :first-child img {
    width: 72%;
    
}
#nav2 {
 
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 14px 0 0 540px;
    
    /* display: flex; */
    /* border: 1px solid;   */
}
#nav2> a > button {
    /* background-color: white; */
      color: white;
      font-weight: bold;
    border: none;
    padding: 9px 18px 9px 18px;
    background: none;
    font-family:'Lato', sans-serif; 
    /* background-color: rgb(249, 217, 35); */
    gap: 9px;
    text-decoration: none;
    border-radius: 5px;
    /* border: 1px solid; */
}
#nav2 > a :hover {
    cursor: pointer;
}
/* #centerbtn {
  margin: 20px 0 0 700px;
  
} */
/* #centerbtn button {
  background-color: #1b283d;
  padding:20px 45px 20px 45px;
  color: white;
  border: none;
} */
/* #textonimg h1 {
  color: white;
  margin: 36px 0 0 720px;
  font-family: 'Lato', sans-serif;
} */
/* #textonimg h2 {
  color: #1b283d;
  margin: 20px 0 0 560px;
  font-family: 'Lato', sans-serif;
} */

#centerText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap:20px;
  margin: -25px 0px 20px 0px;
  

}
#textonimg{
  display: flex;
  flex-direction: column;
}
#textonimg>h1{
  font-family: 'Lato', sans-serif;
  color: white;
}
#textonimg>h2{
  font-family: 'Lato', sans-serif;
  color: #1b283d;
}
#centerbtn button{
  background-color: #1b283d;
  padding:20px 45px 20px 45px;
  color: white;
  border: none;
} 

 /*-------------- Style the search bar---------------- */
 /* .search-bar {
  display: flex;
  flex-direction: row;
  margin-right: -10%;
 
 } 

.search-bar input[type="text"] {
  width: 150%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px 0 0 25px
}

.search-bar button {
  font-weight: bold;
  padding: 10px;
  background: #000000;
  color: white;
  border: 1px solid #ccc;
  border-radius: 0 25px 25px 0;
} */
/* ----------------------------------------- */
#nav :nth-child(4) > a > button {
    background-color: red;
    padding:9px 18px 9px 18px;
    color: white;
    border-radius: 5px;
    border: none;
}

#nav :nth-child(4) button:hover {
    cursor: pointer;
}
#bgimg > div > img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  

}

/* ------------Slider---------------- */
#body2 {
  /* --------changes maade by lokesh-------- */
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    align-items: center;
  /* -------------end------------- */
  background-image: url("https://i.ibb.co/B3JGLPb/2976831.jpg");
  background-repeat: no-repeat;
  background-size: 100% 26%;
  /* background-size: cover; */
  /* background-image: url("https://images.pexels.com/photos/11568859/pexels-photo-11568859.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  padding-top: 140px;
  background-color: #1e2727;
  /* margin: 0px -10px 0 -10px; */
  
}
.container{
  margin: auto;
  width: 85%;
  /* border: 1px solid; */
  /* height: 80vh; */
  /* background: #222; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-bottom: 50px; */
}
.swiper{
     width: 100%;
     height: 300px;
     /* border: 1px solid; */
}
.swiper-slide img{
  /* width: 100%; */
  width: 1080px; 
    height: 500px; 
    object-fit:inherit;
    object-position: 25% 25%;
  /* height: 81vh; */

}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: aliceblue;
}
.swiper .swiper-pagination-bullet-active{
  background: #fff;
}
/* ----------8block--------- */
#block8 {
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin:3.5% 140px 0 155px;
  padding-bottom: 45px;
  
  /* background-color:#121212; */
  gap: 36px;
  
  
}
#block8 > div > img {
  width: 370px; 
  height: 227px; 
  object-fit: cover;
  object-position: 25% 25%; 
  
  /* border-radius: 9px; */
  /* size: 100%; */
}
#block8 > div {
  display: block;
  text-align: center;
  width: 100%;
  /* padding: 23px; */
  background-color: #ffffff;
  /* border: 1px solid; */
  /* border-radius: 9px; */
  color:rgb(0, 0, 0);
  font-family: Lato, sans-serif;
  /* color: white; */
}
/* #block8 h2 {
  font-family: Lato, sans-serif;
  color: white;
} */
#block8 h2 {
  margin-top: 2px;
  font-family: Lato, sans-serif;
  color: rgb(0, 0, 0);
}
#block8 p {
  padding: -10px 10px 0 10px;
  font-size: smaller;
  margin-top: -10px;
  color: #858586;
}

#block8 button {
  justify-content: flex-end;
  display: flex;
  background: none;
  margin-left: 252px;
  /* background-color: #212122; */
  border: none;
  color: #2a77fb;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
#block8 a :hover {
  cursor: pointer;
}


/* --------------footer--------------- */
hr {
  margin-left: -100px;
}
#footerupper {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  /* align-items: center; */
}
#footerupper img {
  width: 14%;
}
#footerupper p {
  color: #b5b6b8;
  padding-left: 72px;
  font-size: medium;
  font-family:'Lato', sans-serif;
  /* padding-top: -20px; */
  
}
#footer_links {
  display: flex;
  /* grid-template-columns: repeat(6,1fr); */
  color: #d2d2d2;
  margin: auto;
  gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
  padding-bottom: 45px  ;
  /* border: 1px solid; */
  justify-content: space-between;
}
#footer_links h3 {
  font-family:'Lato', sans-serif;
  padding-bottom: 10px;
  font-size: medium;
}
#footer_links p {
  font-family:'Lato', sans-serif;
  height: 25px;
  font-size: smaller;
  /* width: 250px; */
  padding: 5px;
  /* margin: 5px; */
  /* align-items: center; */
  /* text-align: left; */
}
#footer_links p:hover {
  /* background-color: lightgray; */
  cursor: pointer;
}
#last {
  margin-top: 45px;

}
#in {
  padding: 14px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}
#last1 {
  display: flex;
  /* border: 1px solid; */
} 
#last1 > img {
  margin-top: 10px;
  width: 100px;
}
#lastline {
  margin-left: 100px;
  font-family:'Lato', sans-serif;
}

#logo {
  padding-top: 18px;
  display: flex;
  margin-left: 100px;
  gap: 36px;
}
#end {
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
  color: #90a491;
  font-family:'Lato', sans-serif;
  justify-content: space-between;
}

#Lgradient {
  /* margin: -14px; */
  /* padding-left: 100px; */
  /* padding-right: -45px; */
  padding-bottom: 63px;
  /* border: 1px solid; */
  /* padding-top: 63px; */
  width: 100%;
  height: 530px;
  background-color: #1b283d;
  /* background-image: linear-gradient(#ffffff, #a1dcdd); */
}



/* Making the navbar responsive by CSS Media Queries */
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  #searchtab {
    justify-content: center;
    width: 200px;
  }
  .sticky-header {
    padding-bottom: 90px;
  }
  .raw4div {
    display: none;
  }
  .container5Inside
  .btn-group {
    display: none;
  }
  .container5Inside {
    /* border: 1px solid; */
    margin-left: -63px;
    padding-left: -45px;
    padding-left: -45px;
    
  }
  .container4Inside {
    margin-left: -63px;
    padding-left: -45px;
    padding-left: -45px;
  }
  .raw15class {
    padding-left: -45px;
    padding-right:45px ;
  }
  .raw14class {
    padding-left: -45px;
    padding-right:45px ;
  }
  .container3Inside {
    margin-left: -63px;
    padding-left: -45px;
    padding-left: -45px;
    padding-bottom: 90px;
    display: block;
  }
  .raw13class {
    padding-left: -45px;
    padding-right:45px ;
  }
  .container0Inside {
    margin-left: -63px;
    padding-left: -45px;
    padding-left: -45px;
    padding-bottom: 90px;
    display: block;
  }
  .container0Class {
    padding-left: -45px;
    padding-right:45px ;
  }
  
  #raw5 {
    display: none;
  }
  #raw6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #raw7 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #raw8 {
    display: none;
  }
  #raw9 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  #raw10 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  #raw11block {
    display: none;
  }
  
  .menu {
    position: absolute;
    top: 0;
    margin-top: 125px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
  }
  #menu-toggle:checked ~ .menu li {
    /* border: 1px solid #9f9a9a; */
    height: 2.5em;
    padding: 0.5em;
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: black;
    background-color: #32aeb1;
    
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
 
  }
  #pincode {
    display: none;
  }
  #raw1 a {
    display: none;
  }
  #logo1 {
    display: none;
  }
  .btn-group {
    display: none;
  }
  #searchtab {

    size: 50%;
  }
  #insideRaw1 {
    display: flex;
    padding: 9px;
    
    /* border: 1px solid; */
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
    border-radius: 6px;
  }
  #raw1 {
    padding-left: 63px;
    display: flex;
    /* border: 1px solid; */
    justify-content:flex-start;
    background-color: #32aeb1;
    align-items: center;
    padding-bottom: 15px;
  }
  #body {
    margin: 0;
  }
  .body2 {
   margin-top: 27px;
}
  #Lgradient {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 63px;
  /* border: 1px solid; */
  /* padding-top: 63px; */
  width: 100%;
  height: 1500px;
  background-image: linear-gradient(#ffffff, #a1dcdd);
}
  #footer_links {
    display: grid;
  /* grid-template-columns: repeat(6,1fr); */
  margin: auto;
  gap: 50px;
  margin-left: 20px;
  margin-right: 200px;
  padding-bottom: 45px  ;
  /* border: 1px solid; */
  justify-content: space-between;
  }
  #logo {
    width: 23%;
    padding-top: 18px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 20px;
    gap: 27px;
  }
  #footerupper {
    display: none;
  }
  #end {
    display: none;
  }
  #lastline {
    display: none;
  }
}